<a href="https://colab.research.google.com/github/Shobana0608/Learnbay-Project/blob/main/Tensors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [2]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data=pd.read_csv("/content/drive/My Drive/Colab Notebooks/Churn_Modelling.csv")

In [ ]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
data.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [ ]:
x=data.iloc[:,3:-1]
y=data['Exited']

In [ ]:
for cols in x:
  if x[cols].dtype=='O':
    print(cols,x[cols].unique())

Geography ['France' 'Spain' 'Germany']
Gender ['Female' 'Male']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

encoder = OneHotEncoder(sparse_output=False, dtype='int',drop='first')
trn_encoded=encoder.fit_transform(x_train[['Geography','Gender']])
trn_encoded_df=pd.DataFrame(trn_encoded,columns=encoder.get_feature_names_out(),index=x_train.index)
print(trn_encoded_df)

      Geography_Germany  Geography_Spain  Gender_Male
9254                  0                0            1
1561                  1                0            1
1670                  0                1            1
6087                  0                0            0
6669                  0                0            1
...                 ...              ...          ...
5734                  0                0            1
5191                  0                0            0
5390                  0                0            0
860                   0                0            1
7270                  1                0            1

[8000 rows x 3 columns]

In [ ]:
x_train_concat=pd.concat([x_train.drop(['Geography','Gender'],axis=1),trn_encoded_df],axis=1)

In [ ]:
print(x_train_concat)

      CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
9254          686   32       6       0.00              2          1
1561          632   42       4  119624.60              2          1
1670          559   24       3  114739.92              1          1
6087          561   27       9  135637.00              1          1
6669          517   56       9  142147.32              1          0
...           ...  ...     ...        ...            ...        ...
5734          768   54       8   69712.74              1          1
5191          682   58       1       0.00              1          1
5390          735   38       1       0.00              3          0
860           667   43       8  190227.46              1          1
7270          697   51       1  147910.30              1          1

      IsActiveMember  EstimatedSalary  Geography_Germany  Geography_Spain  \
9254               1        179093.26                  0                0
1561               1        195978.86                  1                0
1670               0         85891.02                  0                1
6087               0        153080.40                  0                0
6669               0         39488.04                  0                0
...              ...              ...                ...              ...
5734               1         69381.05                  0                0
5191               1           706.50                  0                0
5390               0         92220.12                  0                0
860                0         97508.04                  0                0
7270               1         53581.14                  1                0

      Gender_Male
9254            1
1561            1
1670            1
6087            0
6669            1
...           ...
5734            1
5191            0
5390            0
860             1
7270            1

[8000 rows x 11 columns]

In [ ]:
scale=StandardScaler()
x_train_scaled=scale.fit_transform(x_train_concat)

In [ ]:
print(x_train_scaled)

[[ 0.35649971 -0.6557859   0.34567966 ... -0.57946723 -0.57638802
   0.91324755]
 [-0.20389777  0.29493847 -0.3483691  ...  1.72572313 -0.57638802
   0.91324755]
 [-0.96147213 -1.41636539 -0.69539349 ... -0.57946723  1.73494238
   0.91324755]
 ...
 [ 0.86500853 -0.08535128 -1.38944225 ... -0.57946723 -0.57638802
  -1.09499335]
 [ 0.15932282  0.3900109   1.03972843 ... -0.57946723 -0.57638802
   0.91324755]
 [ 0.47065475  1.15059039 -1.38944225 ...  1.72572313 -0.57638802
   0.91324755]]

In [ ]:
tst_encoded=encoder.transform(x_test[['Geography','Gender']])
tst_encoded_df=pd.DataFrame(tst_encoded,columns=encoder.get_feature_names_out(),index=x_test.index)

In [ ]:
print(tst_encoded_df)

      Geography_Germany  Geography_Spain  Gender_Male
6252                  1                0            1
4684                  0                0            1
1731                  0                1            0
4742                  1                0            1
4521                  0                1            0
...                 ...              ...          ...
6412                  1                0            0
8285                  0                0            1
7853                  0                0            0
1095                  0                0            1
6929                  1                0            1

[2000 rows x 3 columns]

In [ ]:
x_test_concat=pd.concat([x_test.drop(['Geography','Gender'],axis=1),tst_encoded_df],axis=1)

In [ ]:
print(x_test_concat)

      CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
6252          596   32       3   96709.07              2          0
4684          623   43       1       0.00              2          1
1731          601   44       4       0.00              2          1
4742          506   59       8  119152.10              2          1
4521          560   27       7  124995.98              1          1
...           ...  ...     ...        ...            ...        ...
6412          602   53       5   98268.84              1          0
8285          609   25      10       0.00              1          0
7853          730   47       7       0.00              1          1
1095          692   29       4       0.00              1          1
6929          628   39       1  115341.19              1          1

      IsActiveMember  EstimatedSalary  Geography_Germany  Geography_Spain  \
6252               0         41788.37                  1                0
4684               1        146379.30                  0                0
1731               0         58561.31                  0                1
4742               1        170679.74                  1                0
4521               1        114669.79                  0                1
...              ...              ...                ...              ...
6412               1         45038.29                  1                0
8285               1        109895.16                  0                0
7853               0         33373.26                  0                0
1095               0         76755.99                  0                0
6929               1        107674.30                  1                0

      Gender_Male
6252            1
4684            1
1731            0
4742            1
4521            0
...           ...
6412            0
8285            1
7853            0
1095            1
6929            1

[2000 rows x 11 columns]

In [ ]:
x_test_scaled=scale.transform(x_test_concat)
print(x_test_scaled)

[[-0.57749609 -0.6557859  -0.69539349 ...  1.72572313 -0.57638802
   0.91324755]
 [-0.29729735  0.3900109  -1.38944225 ... -0.57946723 -0.57638802
   0.91324755]
 [-0.52560743  0.48508334 -0.3483691  ... -0.57946723  1.73494238
  -1.09499335]
 ...
 [ 0.81311987  0.77030065  0.69270405 ... -0.57946723 -0.57638802
  -1.09499335]
 [ 0.41876609 -0.94100321 -0.3483691  ... -0.57946723 -0.57638802
   0.91324755]
 [-0.24540869  0.00972116 -1.38944225 ...  1.72572313 -0.57638802
   0.91324755]]

In [ ]:
import keras

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
model=Sequential()